# Temporary files
icons/temp/
*~
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node.js related
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json 